<style>
	div.cell{
		max-width: 100 em;
		margin-left: auto;
		margin-right: auto;
	}

	div.text_cell_render{
		line-height : 200%; /*Increases the spacing between the text lines*/
		width : 750 px; /*Sets the width to approximately 700 pixels... about 80 characters */
		font-family: "Charis SIL", serif; /*Default font: Charis SIL;*/
		font-size: 11.5pt;
	}

	div.text_cell_render h1{
		font-size: 24pt;
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		font-weight: bold;
	}

	div.text_cell_render h2{
		font-size: 18pt;
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		font-style: italic;
	}

	div.text_cell_render h3{
		font-size: 16pt;
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		color: #484848;
		text-decoration: underline;	
	}

	div.text_cell_render h4{
		font-size: 15pt;
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		color: #484848;
		font-style: italic;	
	}

	#table{
		border: 0px;
	}

	.CodeMirror{
    	font-family: Consolas, monospace;
    }
    
    .render_html ol {list-style: decimal; margin: 1em 2em;}

</style>
